*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
}

.info{
    display: block;
    text-align: center;
    background-color: white;
    margin: 50px 30px;
}